.c7ntest-content-container {
  table{
    // table-layout: fixed;
  }
  padding: 24px;
  .c7ntest-statistic-container {
    display: flex;
    justify-content: space-around;
    .c7ntest-statistic-item-container {
      display: flex;
      width: 245px;
      .c7ntest-statistic-item-colorBar {
        border-right: 5px solid #4D90FE;
        height: 60px;
        width: 0;
        margin-right: 20px;
      }
      .c7ntest-statistic-item-title {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.65);
      }
      .c7ntest-statistic-item-num {
        font-size: 32px;
      }
    }
  }
  .c7ntest-tableArea-container {
    display: flex;
    // justify-content: space-around;
    margin-top: 30px;
    .c7ntest-table-container {    
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.20), 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.12); // width: 370px;
      flex: 1;
      height: 287px;
      padding: 15px;
      .c7ntest-table-title {
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        line-height: 20px;
      }
    }    
  }
  .c7ntest-chartArea-container {
    display: flex;
    // justify-content: space-around;
    height: 325px;
    .c7ntest-chart-container {
      flex:1;
      // width: 565px;
      height: 325px;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.20), 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.12);
      .c7ntest-chart-container{
        .c7ntest-chart-wrapper{
          height: 325px;
          width:50%;
        }
      }
    }
  } 
}
