.c7n-test-execute-detail-step-table {
  &-file {
    //   background-color: aquamarine;
    // display: flex;
    >span:first-child{
        height: max-content;

    }
    &-head {
        background-color: antiquewhite;
    }
    &-foot{
        background-color: aquamarine;
    }
 
  }
}
