.c7ntest-TestPlan {
  &-content {
    width: 100%;
    min-width: 0; //火狐浏览器下flex的overflow会失效，解决
    flex: 1;
    height: 100%;
    display: flex;
    // padding-top: 12px;
    &-right {
      padding: 20px 20px 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
      &-bottom {
        margin-bottom: 30px; // display: none;
        // height: 400px;
      }
    }
  }

  &-bar {
    // margin-top: 10px;
    width: 22.5px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    &-button {
      cursor: pointer;
      width: 22px;
      height: 22px;
      background-color: #3F51B5;
      color: white;
      text-align: center;
      line-height: 18px;
      border-radius: 3px;
      margin-bottom: 10px;
    }
    p {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.08);
      text-align: center;
      color: rgba(0, 0, 0, 0.65);
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.01em;
      line-height: 20px;
      margin-bottom: 24px;
    }
  }
}

.breadcrumb-border {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
