.c7ntest-IssueTree {
  // border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;

  // .c7n-spin-nested-loading,
  // .c7n-spin-container {
  //   // height: 100%;
  //   flex: 1;
  //   // overflow-x: hidden;
  //   // overflow-y: auto;
  // }
  .c7ntest-treeTop {
    padding: 0 16px;
    font-size: 13px;
    height: 44px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .c7n-input-wrapper {
      .c7n-input-underline {
        display: none;
      }

      .c7n-input-content {
        margin-bottom: 0;
      }
    }
  }

  &-tree {
    height: calc(100% - 44px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 15px;
  }

  .c7n-tree li .c7n-tree-node-content-wrapper.c7n-tree-node-selected {
    background: rgba(0, 0, 0, 0.04);
  }

  .c7n-tree-icon__customize {
    i.icon {
      float: left;
      line-height: 22px;
      margin-right: 5px;
    }
  }

  .c7n-tree-title {
    display: inline-block;
    float: right;
  }

  .c7n-tree-title * {
    outline: none;
  }

  .c7n-tree-title:focus {
    outline: none;
  }

  .c7n-tree-switcher {
    margin-top: 3px !important;
  }

  .icon-folder_open,
  .icon-folder_open2 {
    // margin-top: -3px;
  }

  .c7n-tree-child-tree li {
    // display: flex;
    // align-items: center;
  }

  .c7n-tree li .c7n-tree-node-content-wrapper {
    width: calc(100% - 22px);
    display: inline-flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
  }

  .IssueTree-drag-prompt {
    position: absolute;
    margin-top: 3px;
    top: 0;
    left: 100%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
    padding: 10px;
  }
}
