.c7ntest-ImportIssue {
  .ant-progress-circle-trail {
    stroke: rgba(207, 212, 245, 0.90);
  }
  .ant-progress-circle-path {
    stroke: rgba(48, 63, 159, 0.64);
  }
  .ant-progress-text {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
  }
  &-progress-area {
    background: #FFFFFF;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.20), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 512px;
    height: 193px;
    text-align: center;
    padding-top: 18px;
    &-text {
      font-size: 20px;
      color: #000000;
      line-height: 28px;
      margin: 16px 0;
    }
    &-prompt {
      font-size: 13px;
      line-height: 20px;
    }
  }
  &-record-normal-text {
    margin-top: 10px;
  }
  &-fileName {
    background-color: #F3F3F3;
    border-radius: 2px;
    height: 32px;
    width: 148px;
    display: inline-block;
    padding: 7px 9px;
    margin-right: 10px;
    color: rgba(0,0,0,0.54);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-text {
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
  }
  &-progress {
    width: 200px;
    vertical-align: top;
    margin-top: 7px;
  }
  &-icon {
    vertical-align: sub;
    margin-right: 5px;
  }
  &-version {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    display: inline-block;
    vertical-align: top;
  }
}
