.c7ntest-add{
    .c7n-select-has-border.c7n-select:before{
    border: none !important;
    }
    .c7ntest-add-testCase {
        display: flex;
        align-items: flex-start;
        &-textFieldDiv {
          position: relative;
          .c7n-pro-input-length-info {
            right: 20px;
          }
        }
    }
}
