.switchVersion {
  .ant-dropdown-link {
    font-size: 13px; // color: #3F51B5;
    // font-weight: 600;
    line-height: 15px;
  }
  .ant-dropdown-link:hover {
    color: #000;
  }
  .versionProgress-select {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 15px;
    cursor: pointer;
    color: #000;
  }
}
