# Default values for test-manager-service.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: registry.cn-hangzhou.aliyuncs.com/choerodon-test-manager/test-manager-service
  pullPolicy: IfNotPresent

service:
  enabled: false
  type: ClusterIP
  port: 8093

deployment:
  managementPort: 8094
preJob:
  timeout: 300
  image: registry.cn-hangzhou.aliyuncs.com/choerodon-tools/dbtool:0.6.2
  preConfig:
    enable: true
    configFile: application.yml
    configType: k8s
    registerHost: http://register-server.c7n-system:8000
    datasource:
      url: jdbc:mysql://localhost:3306/manager_service?useUnicode=true&characterEncoding=utf-8&useSSL=false
      username: username
      password: password
  preInitDB:
    enable: true
    datasource:
      url: jdbc:mysql://localhost:3306/test_manager_service?useUnicode=true&characterEncoding=utf-8&useSSL=false
      username: username
      password: password

metrics:
  path: /actuator/prometheus
  group: spring-boot

logs:
  parser: spring-boot

env:
  open:
    SPRING_REDIS_HOST: redis.tools.svc
    SPRING_CLOUD_CONFIG_ENABLED: true
    SPRING_CLOUD_CONFIG_URI: http://register-server.c7n-system:8000
    SPRING_DATASOURCE_URL: jdbc:mysql://localhost:3306/test_manager_service?useUnicode=true&characterEncoding=utf-8&useSSL=false
    SPRING_DATASOURCE_USERNAME: username
    SPRING_DATASOURCE_PASSWORD: password
    EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://register-server.c7n-system:8000/eureka/
    # 清理permission表中的旧接口和role_permission表中角色和权限层级不匹配的脏数据
    CHOERODON_CLEANPERMISSION: false
    PRO_HTTP: http
    PRO_COOKIE_SERVER: devops.choerodon.example.com
    PRO_LOCAL: true
    PRO_CLIENT_ID: devops
    PRO_TITLE_NAME: Choerodon
    PRO_API_HOST: api.staging.example.com
    PRO_HEADER_TITLE_NAME: Choerodon
    PRO_WEBSOCKET_SERVER: ws://ws.example.com
    PRO_AGILE_HOST: http://minio.example.com
    PRO_FILE_SERVICE: http://minio.example.com
    PRO_DEVOPS_HOST: ws://ws.example.com
    # skywalking 代理端配置
#    SKYWALKING_OPTS: >-
#      -javaagent:/agent/skywalking-agent.jar
#      -Dskywalking.agent.application_code=test-manager-service
#      -Dskywalking.agent.sample_n_per_3_secs=-1
#      -Dskywalking.collector.backend_service=oap.skywalking:11800

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources,such as Minikube. If you do want to specify resources,uncomment the following
  # lines,adjust them as necessary,and remove the curly braces after 'resources:'.
  limits:
    # cpu: 100m
    memory: 1Gi
  requests:
    # cpu: 100m
    memory: 1Gi