.c7ntest-testPlanTree {
  height: calc(100% - 100px);
  padding-left: 10px !important;
  overflow-y: auto;
  overflow-x: hidden;
  li .c7n-tree-node-content-wrapper.c7n-tree-node-selected {
    background: rgba(0, 0, 0, 0.04) !important;
  }
  .c7n-tree-switcher {
    margin-top: 3px !important;
  }
  .c7n-tree-icon__customize {
    i.icon {
      float: left !important;
      line-height: 22px !important;
      margin-right: 5px !important;
    }
  }
  .c7n-tree-title {
    display: inline-block !important;
    float: right !important;
  }
   li .c7n-tree-node-content-wrapper {
    display: inline-flex !important;
    align-items: center !important;
    height: 30px !important;
    line-height: 30px !important;
  }
}
