.c7ntest-radio-button {
  .c7n-radio-button-wrapper {
    padding: 0 9px;
    height: 26px;
    line-height: 26px;
    border: none !important;
    color: #3F51B5;
    margin: 0 5px;
  }
  .c7n-radio-button-wrapper:not(:first-child)::before {
    border: none;
    width: 0;
    display: none;
  }
  .c7n-radio-button-wrapper-checked {
    color:white;
    background: #3F51B5;
    box-shadow: none;
    border-radius: 2px;
  }
}
