.newLine-line {
  background-color: #cdffd8;
}

.newLine-text {
  background-color: #ecfdf0;
}

.lastModifyLine-line {
  // background-color: #1b69b6;
}

.lastModifyLine-text {
  color: white !important;
  background-color: #5e92f2;
}

.modifyLine-line {
  background-color: rgba(255, 204, 0, 0.25);
}

.modifyLine-text {
  background-color: #1b69b6;
}

.clearLineHeight-line {
  //position: absolute;
  //z-index: 20;
  background-color: #f5f5f5;
}

.clearLineHeight-text {
  //position: absolute;
  background-color: #f5f5f5;

  //&::before {
  //  content: '+  ';
  //}
}

.line_error {
  background-image: url('error.png');
  background-repeat: no-repeat;
  background-position: 2px center;
  // background-image: none !important;
}

.ace-error {
  margin-bottom: 16px;

  .deployApp-config-block {
    width: 16px;
    height: 13px;
    display: inline-block;
    margin-right: 10px;
  }

  .deployApp-config-lastModify {
    background-color: #5e92f2;
  }

  .deployApp-config-new {
    background-color: #ecfdf0;
  }

  .deployApp-config-modify {
    background: #fdda80;
  }

  .deployApp-config-error {
    padding-left: 19px;
    padding-right: 10px;
    height: 16px;
    background-image: url('./error.png');
    background-repeat: no-repeat;
    background-position: 2px center;
  }

  .deployApp-config-title {
    font-size: 13px;
    color: #000;
    padding-right: 86px;
  }
}

.ace-error-message {
  margin-top: 24px;

  .config-icon-error {
    color: #f44336;
    font-size: 13px;
    vertical-align: middle;
    padding-right: 5px;
  }

  .config-error-mes {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    text-align: left;
    line-height: 20px;
    vertical-align: middle;
  }
}

.CodeMirror-gutter-elt {
  height: 19px !important;
  width: 38px !important;
}

.CodeMirror-selected { background-color: #b3d7fd !important; }
