.test-edit-execute-issue {
  &-line {
    height: .01rem;
    border-bottom: .01rem solid var(--divider);
    width: 7.4rem;
    margin-left: -.3rem;
  }

  &-head {
    font-size: 16px;
    color: var(--text-color);
    line-height: 24px;
    display: block;
    .icon {
      margin-top: -3px;
    }
  }

  &-line +&-head {
    margin-top: .195rem;
    margin-bottom: .2rem;
  }
  &-line +&-head-hidden {
    margin-bottom: 0;
  }

  &-form {
    width: 5.12rem;
    tr:nth-child(3) {
      .test-create-issue-head {
        margin-bottom: -.02rem;
      }
    }
    &-hidden {
      tr:nth-child(n+4):nth-child(-n+5) {
        display: none;
      }
    }
    &-detail {

    }

    &-file {
      .c7nagile-upload-button {
        margin-top: .08rem;
        margin-left: -.1rem;
      }
    }

    &-step {
      width: 6.92rem;
    }
  }
}
