.c7ntest-Issue {
  .c7ntest-content-issue {
    .c7ntest-content-issueFolderName {
      height: 0.59rem;
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 0.2rem;
    }
  }
}
