.c7ntest-Issue {
  .c7ntest-content-issue {
    .c7ntest-content-issueFolderName {
      height: 0.59rem;
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 0.2rem;
    }
  }
  &-import-modal {
    .c7n-pro-modal-footer {
      display: none;
    }
  }

  &-content-left {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }

  .c7ntest-IssueTree-tab {
    text-align: center;
    padding-top: .16rem;

    .@{c7n-prefix}-tabs-bar {
      margin: 0;
    }
  }
}
