.c7ntest-Issue {
  user-select: none;

  .c7ntest-issue-breadcrumb{
    border-bottom-style: 0.01rem solid !important;
    border-bottom-color: #ffb100 !important;
  }

  .c7ntest-chs-bar {
    // padding-top: 0.1rem;
    width: 0.225rem;
    border-right: 0.01rem solid rgba(0, 0, 0, 0.12);


    p {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.08);
      text-align: center;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  .c7ntest-content-issue {
    .c7ntest-content-issueFolderName {
      height: 0.59rem;
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 0.2rem;
    }
  }

  .c7ntest-add {
    &-select-version {
      // .c7n-select-underline {
      //   display: none;
      // }
      display: flex;
      align-items: center;
      // &-prefix {
      //   margin-top: -0.02rem;
      //   margin-right: 0.06rem;
      // }
    }

    .c7n-input-length-info {
      display: none;
    }

    .c7n-input-underline {
      display: none;
    }
  }

  .c7n-dropdown {
    background: #fff;
    box-shadow: 0 0.05rem 0.05rem -0.03rem rgba(0, 0, 0, 0.2), 0 0.08rem 0.1rem 0.01rem rgba(0, 0, 0, 0.14), 0 0.03rem 0.14rem 0.02rem rgba(0, 0, 0, 0.12);
    border-radius: 0.02rem;
  }

  .c7n-select .c7n-select-underline {
    // display: none;
  }

  .c7ntest-icon-disabled {
    font-size: 0.16rem;
    color: rgba(0, 0, 0, 0.36);
    width: 0.32rem;
    display: inline-block;
    padding: 0.05rem;
  }

  .c7ntest-count {
    position: relative;
    display: flex;
    justify-content: center;

    .c7ntest-span-count {
      display: inline-block;
      background: rgba(0, 0, 0, 0.08);
      padding: 0 0.05rem;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  .c7ntest-content-container {
    display: flex;
    height: calc(~'100% - 0.58rem');
  }

  .c7ntest-sidebar {
    height: calc(~'100vh - 1.06rem'); // border-left: 0.03rem solid #d3d3d3;
    overflow: hidden;
  }

  .c7ntest-hoverTitle {
    white-space: nowrap;
  }

  .c7ntest-hoverTitle:hover {
    color: blue;
    cursor: pointer;
  }

  .c7ntest-sidebar-content {
    margin: 0.28rem 0.22rem 0 0.22rem;

    .c7ntest-sidebar-title {
      font-size: 0.2rem;
      line-height: 0.28rem;
    }

    .c7ntest-sidebar-items {
      display: flex;
      justify-content: space-between;

      .c7ntest-sidebar-item {
        display: flex;

        .c7ntest-sidebar-itemIcon {
          width: 0.3rem;
          height: 0.3rem;
          border-radius: 50%;
        }

        .c7ntest-sidebar-itemRight {
          margin-left: 0.12rem;

          .c7ntest-sidebar-itemRightTitle {
            font-size: 0.09rem;
            margin-bottom: 0;
            transform: scale(0.75);
            -webkit-transform-origin-x: 0;
            color: rgba(0, 0, 0, 0.54);
            line-height: 0.15rem;
          }

          .c7ntest-sidebar-itemRightContent {
            font-size: 0.16rem;
            line-height: 0.18rem;
          }
        }
      }
    }
  }

  .c7ntest-sidebar-basicInfo {
    .c7ntest-sidebar-basicTop {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.01rem solid rgba(0, 0, 0, 0.12);

      .c7ntest-sidebar-basicLeft {
        width: 22.6%;

        .c7ntest-sidebar-basicLeftItem {
          .c7ntest-sidebar-basicLeftItemP {
            transform: scale(0.75);
            color: rgba(0, 0, 0, 0.54);
            margin-bottom: 0;
            -webkit-transform-origin-x: 0;
          }

          .c7ntest-sidebar-basicApp {
            display: flex;
            align-items: center;

            p {
              margin-bottom: 0;
            }

            .c7ntest-sidebar-basicAppSquare {
              width: 0.24rem;
              background-color: rgba(0, 0, 0, 0.36);
              margin-bottom: 0;
              line-height: 0.14rem;
              height: 0.16rem;
              color: white;
            }

            .c7ntest-sidebar-basicAppVersionIcon {
              width: 0.16rem;
              height: 0.16rem;
              background: #ffb100;
              border-radius: 50%;
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 0.25rem;
            }
          }

          .c7ntest-sidebar-basicApp:not(:first-child) {
            margin-top: 0.12rem;
          }

          .c7ntest-sidebar-basicLink {
            font-size: 0.13rem;
          }
        }

        .c7ntest-sidebar-basicLeftItem:not(:first-child) {
          margin-top: 0.18rem;
        }
      }
    }
  }

  .c7ntest-sidebar-rollup {
    font-size: 0.13rem;
    color: #3f51b5;
    line-height: 0.15rem;
    cursor: pointer;
    margin-top: 0.12rem;
  }

  .wrapper {
    width: 100%;
    background: #eee;
  }

  .flex-wrap {
    display: flex;
    flex: 1;
  }

  .flex-fix {
    width: 1rem;
    background: red;
    flex-shrink: 0;
  }

  .flex-fill {
    overflow: hidden;

    .flex-fill-p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .c7n-spin-nested-loading {
    width: 100% !important;
  }
}

.c7ntest-backlog-sprintType {
  display: inline-block;
  width: 0.18rem;
  height: 0.18rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.05rem;
  text-align: center;
  line-height: 0.18rem;
  background: #c5cbe8;
  color: #6473c3;
}
.breadcrumb-border{
  border-top: 0.01rem solid rgba(0,0,0,0.12);
}