.c7ntest-ExecuteDetailSide {
  width: 425px;
  position: relative;
  display: flex;
  overflow: hidden;
  .c7ntest-nav {
    width: 40px;
    height: 100%;
    background: rgba(0, 0, 0, 0.04);
    flex-shrink: 0;
    .c7ntest-nav-ul {
      list-style: none;
      padding: 0;
      margin: 0;
      .c7ntest-li {
        box-sizing: border-box;
        margin: 0;
        height: 40px;
        padding: 0;
        width: 100%;
        text-align: center;
        .c7ntest-icon-li {
          line-height: 40px;
          font-size: 18px;
          color: rgba(0, 0, 0, 0.65);
        }
      }
      .c7ntest-li-active {
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }
  .c7ntest-content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column; // overflow: hidden;
    padding: 8px 0 0 15px;
    overflow: hidden;
    .c7ntest-content-top {
      box-sizing: border-box;
      width: 100%;
      flex-shrink: 0;
    }
    .c7ntest-content-bottom {
      // width: 100%;
      width: 370px;
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      .c7ntest-side-item-header {
        margin-top: 15px;
        display: flex;
        align-items: center;
        &-left {
          display: flex;
          align-items: center;
          font-weight: 500;
          white-space: nowrap;
          i {
            margin-right: 5px;
          }
        }
        &-line {
          height: 1px;
          background: rgba(0, 0, 0, 0.08);
          flex: 1;
          margin: 0 10px;
        }
        &-right {}
      }
      .c7ntest-side-item-content {
        padding: 15px 15px 15px 23px;
      }
      
      .c7ntest-button-defect-select {
        .c7n-select-selection__rendered {
          // display: none;
          width: 300px;
          height: 20px;
          visibility: hidden;
        }
        .c7n-select {
          visibility: hidden; // display: none;
        }
        .c7ntest-TextEditToggle-text {
          padding: 0;
        }
        .dropdown {
          // width: 300px;
          // right: 10px !important;
        } // .c7ntest-TextEditToggle-edit {
        //   padding: 0;
        // }
      }
    }
  }
  .c7ntest-item-one-line {
    display: flex;
    align-items: center;
    margin: 10px 0;
    &-left {
      width: 45%;
    }
    &-right {
      flex: 1;
    }
  }
}
