.c7ntest-right-card-container {
    margin: 12px 0 18px 0;
    padding: 8px 20px;
    display: flex;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.20), 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    .c7ntest-right-card-column {
        flex: 1;
        .c7ntest-right-card-item {
            display: flex;
            margin: 10px 0;
            .c7ntest-right-card-item-label {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 500;
                width: 105px;
                font-size: 13px;
            }
            .c7ntest-right-card-item-text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 20;
            }
        }
    }
}