.c7ntest-CreateStatus-color-picker-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.c7ntest-CreateStatus-color-picker {
  margin-top: 5px;
  margin-left: 10px;
}

.c7ntest-CreateStatus-color-picker-show {
  position: relative;
  border: 3px solid #E0E0E0;
  border-radius: 2px;
  width: 18px;
  height: 18px;
  >div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .c7ntest-CreateStatus-color-picker-show-rec-con {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 6px;
      height: 6px;
      background: #E0E0E0;
    }
  }
}

.c7ntest-CreateStatus-color-picker-show-rec {
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 0px;
  width: 0px;
  border-top: 3px solid black;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
}
