.c7ntest-TestNGReport {
  .c7n-table {
    // font-size: 14px;
  }
  .c7ntest-table-total {
    background: #F5F5F5;
    font-weight: 500;
    .c7n-table-row-expand-icon-cell .c7n-table-row-expand-icon {
      display: none;
    }
  }
  .c7n-table-expanded-row>td:last-child {
    padding: 0 48px 0 16px;
  }
  .c7n-table-expanded-row>td:last-child .c7n-table-thead th {
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    text-align: left;
  }
  .c7n-table-expanded-row>td:last-child .c7n-table-thead th:first-child {
    padding-left: 10px;
  }
  .c7n-table-expanded-row>td:last-child .c7n-table-row td:first-child {
    padding-left: 10px;
  }
  .c7n-table-expanded-row .c7n-table-row:last-child td {
    border: none;
  }
  .c7n-table-expanded-row .c7n-table-thead>tr>th {
    // background: none;
  }
  .table-operation a:not(:last-child) {
    margin-right: 24px;
  }
  .c7n-table-expanded-row:hover>td {
    background: #fbfbfb;
  }
  .c7n-table-thead>tr>th,
  .c7n-table-tbody>tr>td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
  }
  .c7ntest-table-title {
    padding: 10px;
    background: #EBEBEB;
  }
  .c7n-table-title {
    border-bottom: none;
    padding: 10px;
    background: #EBEBEB;
  }
  .c7n-table-footer {
    border-top: none;
    border-bottom: 1px solid #e8e8e8;
  }
  .c7ntest-table-header-pass {
    background: #F3F9F4;
  }
  .c7ntest-table-header-skip {
    background: #FFFDF2;
  }
  .c7ntest-table-header-failed {
    background: #FFF4F2;
  }
  .quickSearchSelect {
    border-radius: 3px;
    padding: 0 5px;
    min-width: 96px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; // Select 下划线
    .c7n-select-underline {
      display: none;
    } // DropDown 菜单容器
    .c7n-spin-container,
    .c7n-spin-nested-loading {
      min-width: 170px;
    } // antd Select 组件覆盖
    .c7n-select-dropdown {
      box-shadow: none;
      .c7n-spin-container {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
      }
    }
    .c7n-select-selection__rendered {
      padding: 0 !important;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none; //设置径向渐变
      background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
      background-repeat: no-repeat;
      background-position: 50%;
      transform: scale(10, 10);
      opacity: 0;
      transition: transform .3s, opacity .5s;
    }
    &:active:after {
      transform: scale(0, 0);
      opacity: .3;
      transition: 0s;
    }
    .c7n-select-selection--multiple {
      cursor: pointer;
      padding: 0 0 0 5px;
      .c7n-select-selection__rendered {
        margin-bottom: 0;
        li {
          margin-bottom: 0;
        }
        .c7n-select-arrow {
          left: 64px;
          height: 26px;
          line-height: 26px;
        }
        .c7n-select-selection__choice__content {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 64px;
          height: 24px;
        }
        .c7n-select-selection__placeholder {
          margin-top: 3px;
          color: #3f51b5;
        }
      }
    }
    .quickSearchSelect-dropdown,
    .assigneeSelect-dropdown {
      min-width: 170px;
    }
    .quickSearchSelect-dropdown {
      .c7n-select-dropdown-select-all-none {
        display: none;
      }
    }
  }
}
