.c7ntest-testPlan-detailCard-content {
  box-shadow: 0px 0px 4px 0px rgba(90, 95, 123, 0.18);
  border-radius: 4px;
  padding: 16px 20px;
  display: flex;
  flex-wrap: wrap;

  &-item {
    display: flex;
    align-items: center;
    margin-right: 30px;

    &-field {
      display: inline-block;
      margin-right: 10px;
      font-weight: 500;
    }

    &-value {}
  }
}
