.c7ntest-testPlan-detailCard-content {
  box-shadow: 0px 0px 4px 0px rgba(90, 95, 123, 0.18);
  border-radius: 4px;
  padding: 16px 20px;
  display: flex;
  flex-wrap: wrap;

  &-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    line-height: 18px;

    &-field {
      display: inline-block;
      margin-right: 10px;
      font-weight: 500;
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.87);
    }

    &-value {
      font-weight: 400;
      color: rgba(0, 0, 0, 0.87);
      word-break: break-all;
    }
  }
}
