.c7ntest-TestExecuteTree {
  height: calc(100% - 100px);
  padding-left: 10px !important;
  overflow-y: auto;
  overflow-x: hidden;
  li .c7n-tree-node-content-wrapper.c7n-tree-node-selected {
    background: rgba(0, 0, 0, 0.04);
  }
  .c7n-tree-switcher {
    margin-top: 3px !important;
  }
  .c7n-tree-icon__customize {
    i.icon {
      float: left;
      line-height: 22px;
      margin-right: 5px;
    }
  }
  .c7n-tree-title {
    display: inline-block;
    float: right;
  }
   li .c7n-tree-node-content-wrapper {
    display: inline-flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
  }
}
