.batchDeleteModal {
  :global {
    .c7n-pro-modal-header {
      padding: 24px 24px 0;
      .c7n-pro-modal-title {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.87) !important;
        font-weight: 400;
      }
    }
    .c7n-pro-modal-body {
      padding-bottom: 0;
      overflow: hidden;
    }
  }
  .batchDeleteBtn {
    color: #F44336;
  }
}
