<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.test.manager.infra.mapper.TestAutomationHistoryMapper">

    <update id="updateTestStatusByInstanceId"
            parameterType="io.choerodon.test.manager.domain.test.manager.entity.TestAutomationHistoryE">
        UPDATE test_automation_history
        SET
        test_status = #{testStatus},
        cycle_id = #{cycleId},
        result_id = #{resultId},
        last_updated_by = #{lastUpdatedBy},
        last_update_date = #{lastUpdateDate},
        object_version_number = object_version_number + 1
        WHERE
        instance_id = #{instanceId}
        AND
        object_version_number = #{objectVersionNumber}
    </update>

    <select id="queryObjectVersionNumberByInstanceId" resultType="long"
            parameterType="io.choerodon.test.manager.domain.test.manager.entity.TestAutomationHistoryE">
        SELECT object_version_number
        FROM test_automation_history
        WHERE instance_id = #{instanceId}
    </select>
    
    <resultMap type="io.choerodon.test.manager.domain.test.manager.entity.TestAutomationHistoryE" id="BaseResultMap">
        <id column="id" property="id"/>
        <id column="framework" property="framework"/>
        <id column="test_status" property="testStatus"/>
        <id column="instance_id" property="instanceId"/>
        <id column="object_version_number" property="objectVersionNumber"/>
        <id column="project_id" property="projectId"/>
        <id column="cycle_id" property="cycleId"/>
        <id column="result_id" property="resultId"/>
        <id column="created_by" property="createdBy"/>
        <id column="creation_date" property="creationDate"/>
        <id column="last_update_date" property="lastUpdateDate"/>
        <association property="testAppInstanceE" javaType="io.choerodon.test.manager.domain.test.manager.entity.TestAppInstanceE">
            <id column="pod_status" property="podStatus"/>
            <id column="app_version_id" property="appVersionId"/>
            <id column="log_id" property="logId"/>
            <id column="env_id" property="envId"/>
            <id column="pod_name" property="podName"/>
            <id column="container_name" property="containerName"/>
        </association>
    </resultMap>

    <select id="queryWithInstance" resultMap="BaseResultMap">
        SELECT history.id,history.framework,history.test_status,history.instance_id,history.object_version_number,history.project_id,
        history.cycle_id,history.result_id,instance.pod_status,instance.app_version_id,history.created_by,history.creation_date,history.last_update_date
        ,instance.log_id,instance.env_id,instance.pod_name,instance.container_name
        from test_automation_history history left join test_app_instance instance on history.instance_id=instance.id
        <where>
            history.project_id=#{params.projectId}
            <if test="params.framework != null and !params.framework.isEmpty()">
                and history.framework in
                <foreach collection="params.framework" item="item1" index="index" open="(" close=")" separator=",">
                   #{item1}
                </foreach>
            </if>
            <if test="params.testStatus != null and !params.testStatus.isEmpty()">
                and history.test_status in
                <foreach collection="params.testStatus" item="item2" index="index" open="(" close=")" separator=",">
                    #{item2}
                </foreach>
            </if>
            <if test="params.appVersionId != null and !params.appVersionId.isEmpty()">
                and instance.app_version_id in
                <foreach collection="params.appVersionId" item="item3" index="index" open="(" close=")" separator=",">
                    #{item3}
                </foreach>
            </if>
            <if test="params.podStatus != null and !params.podStatus.isEmpty()">
                and instance.pod_status in
                <foreach collection="params.podStatus" item="item4" index="index" open="(" close=")" separator=",">
                     #{item4}
                </foreach>
            </if>
            <if test="params.envId != null and !params.envId.isEmpty()">
                and instance.env_id in
                <foreach collection="params.envId" item="item5" index="index" open="(" close=")" separator=",">
                    #{item5}
                </foreach>
            </if>
            <if test="params.appId != null">
                and instance.app_id =#{params.appId}
            </if>
        </where>
    </select>

</mapper>