<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.devops.infra.mapper.TestCycleCaseStepMapper">

    <resultMap type="com.test.devops.infra.dataobject.TestCycleCaseStepDO" id="BaseResultMap">
        <id column="execute_step_id" property="executeStepId"/>
        <id column="execute_id" property="executeId"/>
        <id column="step_id" property="stepId"/>
        <id column="comment" property="comment"/>
        <id column="object_version_number" property="objectVersionNumber"/>
        <id column="parent_step_id" property="parentStepId"/>
        <id column="test_step" property="testStep"/>
        <id column="test_data" property="testData"/>
        <id column="expected_result" property="expectedResult"/>
        <id column="case_attach_url" property="caseAttachUrl"/>
        <id column="case_attach_name" property="caseAttachName"/>
        <id column="case_attach_id" property="caseAttachId"/>

        <id column="url" property="stepAttachUrl"/>
        <id column="attachment_name" property="stepAttachName"/>
        <id column="id" property="stepAttachId"/>

    </resultMap>

    <select id="queryWithTestCaseStep" resultMap="BaseResultMap">
        SELECT cycle.execute_step_id,cycle.execute_id,cycle.step_id,cycle.comment,cycle.object_version_number,
        attach1.url,attach1.attachment_name,attach1.id,test.test_step,test.test_data,test.expected_result,
        test.case_attach_url,test.case_attach_id,test.case_attach_name
        FROM test_cycle_case_step cycle
        left join (
        SELECT step.step_id,step.rank,step.issue_id,step.test_step,step.test_data,step.expected_result,attach.url
        case_attach_url,attach.attachment_name case_attach_name,attach.id case_attach_id
        FROM test_case_step step
        left join test_cycle_case_attachment_rel attach
        on step.step_id=attach.attachment_link_id and attach.attachment_type="CASE_STEP"
        ) test
        on cycle.step_id=test.step_id
        left join test_cycle_case_attachment_rel attach1
        on cycle.execute_step_id=attach1.attachment_link_id and attach1.attachment_type="CYCLE_STEP"
        <where>
            <if test="executeStepId != null">
                AND cycle.execute_step_id = #{executeStepId}
            </if>
            <if test="executeId != null">
                AND cycle.execute_id = #{executeId}
            </if>
        </where>
        order by test.rank
    </select>

</mapper>