<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.test.manager.infra.mapper.TestCaseLinkMapper">

    <resultMap type="io.choerodon.test.manager.infra.dto.TestCaseLinkDTO" id="BaseResultMap">

    </resultMap>
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO test_case_link(link_id,link_case_id,issue_id,link_type_id,project_id, object_version_number,
        created_by, creation_date, last_updated_by, last_update_date) VALUES
        <foreach collection="testCaseLinkDTOList" item="caseLink" separator=",">
            (#{caseLink.linkId}, #{caseLink.linkCaseId}, #{caseLink.issueId},#{caseLink.linkTypeId},#{caseLink.projectId},
            #{caseLink.objectVersionNumber},#{caseLink.createdBy}, #{caseLink.creationDate},
            #{caseLink.lastUpdatedBy}, #{caseLink.lastUpdateDate})
        </foreach>
    </insert>

    <select id="selectIssueIdByPlanId" resultType="java.lang.Long">
        select
        distinct t3.issue_id
        from test_cycle t1
        left join test_cycle_case t2
        on t1.cycle_id = t2.cycle_id
        left join test_case_link t3 on t2.case_id = t3.link_case_id
        where t1.plan_id = #{planId}
        and t3.issue_id is not null
        <if test="query != null">
            <if test="query.caseSummary != null">
                and t2.summary like concat(concat('%', #{query.caseSummary, jdbcType=VARCHAR}),'%')
            </if>
            <if test="query.executionStatus != null">
                and t2.execution_status = #{query.executionStatus}
            </if>
        </if>
        order by t3.issue_id desc
    </select>


    <resultMap id="TestPlanReporterIssueVO" type="io.choerodon.test.manager.api.vo.TestPlanReporterIssueVO">
        <id property="issueId" column="issue_id"/>
        <collection property="testFolderCycleCases"  ofType="io.choerodon.test.manager.api.vo.TestFolderCycleCaseVO">
            <id property="executeId" column="execute_id"/>
            <result property="summary" column="case_summary"/>
            <result property="executionStatus" column="execution_status"/>
            <result property="caseId" column="case_id"/>
            <result property="folderId" column="folder_id"/>
            <result property="caseNum" column="case_num"/>
        </collection>
    </resultMap>


    <select id="selectWithCaseByIssueIds" resultMap="TestPlanReporterIssueVO">
        select
        t3.issue_id,
        t2.summary as case_summary,
        t2.execute_id,
        t2.execution_status,
        t2.case_id,
        t4.folder_id,
        concat_ws( '-', t5.project_code, t4.case_num ) AS case_num
        from test_cycle t1
        left join test_cycle_case t2
        on t1.cycle_id = t2.cycle_id
        left join test_case_link t3 on t2.case_id = t3.link_case_id
        left join test_case t4 on t4.case_id = t2.case_id
        left join test_project_info t5 on t5.project_id = t4.project_id
        where t1.plan_id = #{planId}
        and t3.issue_id is not null
        <if test="issueIds != null and issueIds.size() > 0">
            and t3.issue_id in
            <foreach collection="issueIds" item="issueId" open="(" separator="," close=")">
                #{issueId}
            </foreach>
        </if>
        <if test="query != null">
            <if test="query.caseSummary != null">
                and t2.summary like concat(concat('%', #{query.caseSummary, jdbcType=VARCHAR}),'%')
            </if>
            <if test="query.executionStatus != null">
                and t2.execution_status = #{query.executionStatus}
            </if>
        </if>
        order by t3.issue_id desc
    </select>



</mapper>