<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.test.manager.infra.mapper.TestIssueFolderMapper">

    <resultMap type="io.choerodon.test.manager.infra.dto.TestIssueFolderDTO" id="BaseResultMap">
        <id column="folder_id" property="folderId"/>
        <id column="parent_id" property="parentId"/>
        <id column="name" property="name"/>
        <id column="version_id" property="versionId"/>
        <id column="project_id" property="projectId"/>
        <id column="type" property="type"/>
    </resultMap>

    <update id="updateAuditFields">
        update test_issue_folder
        set created_by = #{userId}, creation_date = #{date}, last_updated_by = #{userId}, last_update_date = #{date}
        where folder_id IN
        <foreach item="item" index="index" collection="folderIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <select id="selectChildrenByParentId" resultType="io.choerodon.test.manager.infra.dto.TestIssueFolderDTO">
        SELECT  folder_id,name FROM test_issue_folder WHERE parent_id=#{parentId}
    </select>
</mapper>