<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.devops.infra.mapper.TestCycleMapper">

    <resultMap type="com.test.devops.infra.dataobject.TestCycleDO" id="BaseResultMap">
        <id column="cycle_id" property="cycleId"/>
        <id column="parent_cycle_id" property="parentCycleId"/>
        <id column="cycle_name" property="cycleName"/>
        <id column="version_id" property="versionId"/>
        <id column="description" property="description"/>
        <id column="build" property="build"/>
        <id column="environment" property="environment"/>
        <id column="from_date" property="fromDate"/>
        <id column="to_date" property="toDate"/>
        <id column="type" property="type"/>
        <id column="object_version_number" property="objectVersionNumber"/>
        <association property="cycleCaseList"
                     javaType="java.util.List"
                     select="queryAboutBar"
                     column="cycle_id">
        </association>
    </resultMap>

    <select id="query" resultMap="BaseResultMap">
       SELECT cycle1.cycle_id,cycle1.parent_cycle_id,cycle1.cycle_name FROM test_cycle cycle1
        where cycle1.version_id = #{versionId}
    </select>


    <resultMap id="hashmap" type="java.util.Map">
        <result column="counts" property="counts"/>
        <result column="color" property="color" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="queryAboutBar" parameterType="java.lang.Long" resultMap="hashmap">
        SELECT
        color,
        count(1) counts
        FROM
        (
        SELECT
        cycle.execute_id,
        cycle.cycle_id,
        cycle.issue_id,
        status1.status_color color
        FROM
        test_cycle_case cycle
        LEFT JOIN test_status status1 ON cycle.execution_status = status1.status_name
        where
        cycle.cycle_id =#{_parameter}
        ) temp1
        GROUP BY
        temp1.color

    </select>
</mapper>