<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.test.manager.infra.mapper.TestIssueFolderMapper">

    <resultMap type="io.choerodon.test.manager.infra.dto.TestIssueFolderDTO" id="BaseResultMap">
        <id column="folder_id" property="folderId"/>
        <id column="parent_id" property="parentId"/>
        <id column="name" property="name"/>
        <id column="version_id" property="versionId"/>
        <id column="project_id" property="projectId"/>
        <id column="type" property="type"/>
    </resultMap>

    <update id="updateAuditFields">
        update test_issue_folder
        set created_by = #{userId}, creation_date = #{date}, last_updated_by = #{userId}, last_update_date = #{date}
        where folder_id IN
        <foreach item="item" index="index" collection="folderIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <select id="selectChildrenByParentId" resultType="io.choerodon.test.manager.infra.dto.TestIssueFolderDTO">
        SELECT  *  FROM test_issue_folder WHERE parent_id=#{parentId}
    </select>

    <select id="selectProjectIdList" resultType="Long">
       select DISTINCT project_id from test_issue_folder ORDER BY project_id ;
    </select>

    <select id="selectListByProjectId" resultType="io.choerodon.test.manager.infra.dto.TestIssueFolderDTO">
         SELECT  *  FROM test_issue_folder WHERE project_id = #{projectId} ORDER BY rank ;
    </select>

    <select id="selectVersionIdList" resultType="Long">
         SELECT  DISTINCT version_id FROM test_issue_folder WHERE project_id = #{projectId} ORDER BY version_id ;
    </select>

    <update id="updateByVersionId" >
        update test_issue_folder set parent_id=#{parentId} where version_id=#{versionId} and project_id=#{projectId}
    </update>

    <select id="listFolderByFolderIds" resultType="io.choerodon.test.manager.infra.dto.TestIssueFolderDTO">
         select * from test_issue_folder
         where
         folder_id in
         <foreach collection="folderIds" item="folderId" open="(" separator="," close=")">
             #{folderId}
         </foreach>
    </select>

    <update id="fixRank">
    <foreach collection="testIssueFolderDTOS" item="folder" index="index" open="" close="" separator=";">
        update test_issue_folder set rank=#{folder.rank}
        <where>
            folder_id=#{folder.folderId}
        </where>
    </foreach>
    </update>
</mapper>