<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.test.manager.infra.mapper.TestCycleCaseDefectRelMapper">

    <resultMap type="io.choerodon.test.manager.infra.dto.TestCycleCaseDefectRelDTO" id="BaseResultMap">
        <id column="id" property="id"/>
        <id column="defect_type" property="defectType"/>
        <id column="defect_link_id" property="defectLinkId"/>
        <id column="issue_id" property="issueId"/>
        <id column="project_id" property="projectId"/>
    </resultMap>

    <select id="queryInIssues" resultMap="BaseResultMap">
        SELECT
        id,defect_type,defect_link_id,issue_id,project_id
        FROM test_cycle_case_defect_rel
        where project_id=#{ projectId} and issue_id in
        <foreach collection="issues" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryAllIssueIds" resultType="java.lang.Long">
        SELECT DISTINCT
        issue_id
        FROM test_cycle_case_defect_rel
    </select>

    <update id="updateProjectIdByIssueId"
            parameterType="io.choerodon.test.manager.infra.dto.TestCycleCaseDefectRelDTO">
        UPDATE
        test_cycle_case_defect_rel
        SET
        project_id = #{projectId}
        WHERE
        issue_id = #{issueId}
    </update>

    <select id="queryIssueIdAndDefectId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT distinct
        issue_id
        FROM
        test_cycle_case_defect_rel
        where
        project_id = #{projectId}
    </select>

    <update id="updateAuditFields">
        update test_cycle_case_defect_rel
        set created_by = #{userId}, creation_date = #{date}, last_updated_by = #{userId}, last_update_date = #{date}
        where id = #{defectId}
    </update>

    <select id="queryByBug" resultType="io.choerodon.test.manager.infra.dto.TestCycleCaseDTO">
        select
        tcc.*,
        ts.status_name as execution_status_name,
        ts.status_color
        from test_cycle_case tcc, test_status ts
        where tcc.execute_id in (
            select defect_link_id from test_cycle_case_defect_rel tccdr
            where tccdr.project_id = #{projectId}
            and tccdr.defect_type = 'CYCLE_CASE'
            and tccdr.issue_id = #{bugId}
            union all
            select tccs.execute_id from test_cycle_case_defect_rel tccdr2, test_cycle_case_step tccs
            where tccdr2.project_id = #{projectId}
            and tccdr2.defect_type = 'CASE_STEP'
            and tccdr2.issue_id = #{bugId}
            and tccdr2.defect_link_id = tccs.step_id
        )
        and tcc.execution_status = ts.status_id
    </select>
</mapper>