<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.test.manager.infra.mapper.TestCaseStepMapper">

    <resultMap type="io.choerodon.test.manager.infra.dataobject.TestCaseStepDO" id="BaseResultMap">
        <id column="step_id" property="stepId"/>
        <id column="rank" property="rank"/>
        <id column="issue_id" property="issueId"/>
        <id column="test_step" property="testStep"/>
        <id column="object_version_number" property="objectVersionNumber"/>
        <id column="test_data" property="testData"/>
        <id column="expected_result" property="expectedResult"/>
        <collection property="attachments"
                    ofType="io.choerodon.test.manager.infra.dataobject.TestCycleCaseAttachmentRelDO">
            <id column="url" property="url"/>
            <id column="attachment_name" property="attachmentName"/>
            <id column="id" property="id"/>
        </collection>
    </resultMap>

    <select id="query" resultMap="BaseResultMap">
        SELECT
        step.step_id,step.rank,step.issue_id,step.test_step,step.object_version_number,step.test_data,step.expected_result
        ,attach.url,attach.attachment_name,attach.id
        FROM test_case_step step
        left join test_cycle_case_attachment_rel attach
        on step.step_id=attach.attachment_link_id and attach.attachment_type='CASE_STEP'
        <where>
            <if test="issueId != null">
                AND step.issue_id = #{issueId}
            </if>
            <if test="stepId != null">
                AND step.step_id = #{stepId}
            </if>
        </where>
        order by rank
    </select>

    <select id="getLastedRank" resultType="java.lang.String">
SELECT
	rank
FROM
	test_case_step
WHERE
	issue_id = #{issueId}
ORDER BY
	rank DESC
	LIMIT 1
    </select>


</mapper>