<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.test.manager.infra.mapper.TestCaseMapper">
    <select id="listCaseByFolderIds" resultType="io.choerodon.test.manager.infra.dto.TestCaseDTO">
        SELECT
            case_id,
            summary,
            folder_id,
            project_id,
            case_num,
            created_by,
            last_updated_by,
            creation_date,
            last_update_date,
            object_version_number
        FROM
            test_case
        WHERE
            project_id = #{projectId}
            AND
            folder_id IN
            <foreach collection="folderIds" item="folderId" open="(" separator="," close=")">
                 #{folderId}
            </foreach>
            <include refid="sqlParam"/>
            order by  last_update_date DESC
    </select>

    <select id="listCopyCase" resultType="io.choerodon.test.manager.infra.dto.TestCaseDTO">
        SELECT
        case_id,
        summary,
        description,
        rank,
        folder_id,
        project_id
        FROM
        test_case
        WHERE
        project_id = #{projectId}
        AND
        case_id IN
        <foreach collection="caseIds" item="caseId" open="(" separator="," close=")">
            #{caseId}
        </foreach>
    </select>

    <sql id="sqlParam">
        <if test="searchDTO != null">
            <if test="searchDTO.contents != null and searchDTO.contents.size > 0">
                AND
                <foreach collection="searchDTO.contents" item="content" open="(" separator=" OR " close=")">
                    (summary LIKE CONCAT(CONCAT('%', #{content, jdbcType=VARCHAR}),'%'))
                </foreach>
            </if>
            <if test="searchDTO.searchArgs != null">
                <if test='searchDTO.searchArgs.summary != null'>
                    AND summary = #{searchDTO.searchArgs.summary}
                </if>
                <if test="searchDTO.searchArgs.caseNum != null">
                    AND case_num = #{searchDTO.searchArgs.caseNum}
                </if>
            </if>
        </if>
    </sql>

    <insert id="batchInsertTestCase" parameterType="io.choerodon.test.manager.api.vo.TestCaseMigrateDTO">
        insert into test_case (case_id, case_num, summary, description, `rank`, folder_id, version_num, project_id,
        object_version_number, created_by, creation_date, last_updated_by, last_update_date)
        values (#{caseId}, #{caseNum}, #{summary}, #{description}, #{rank}, #{folderId}, 1, #{projectId},
        #{objectVersionNumber}, #{createdBy}, #{creationDate}, #{lastUpdatedBy}, #{lastUpdateDate});
    </insert>

    <select id="listIssueIds" resultType="long">
        select case_id from test_case
    </select>

    <update id="updateTestCaseFolder">
        update test_case tc
        set tc.folder_id = (select tifr.folder_id
                            from test_issue_folder_rel tifr
                            where tc.case_id = tifr.issue_id)
    </update>

</mapper>