<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.test.manager.infra.mapper.TestFileLoadHistoryMapper">

    <resultMap type="io.choerodon.test.manager.infra.dto.TestFileLoadHistoryDTO" id="BaseResultMap">
        <id column="id" property="id"/>
        <id column="project_id" property="projectId"/>
        <id column="action_type" property="actionType"/>
        <id column="source_type" property="sourceType"/>
        <id column="object_version_number" property="objectVersionNumber"/>
        <id column="link_id" property="linkedId"/>
        <id column="file_url" property="fileUrl"/>
        <id column="status" property="status"/>
        <id column="successful_count" property="successfulCount"/>
        <id column="failed_count" property="failedCount"/>
        <id column="file_stream" property="fileStream"/>
        <id column="created_by" property="createdBy"/>
        <id column="creation_date" property="creationDate"/>
        <id column="last_update_date" property="lastUpdateDate"/>

    </resultMap>

    <select id="queryDownloadFile" resultMap="BaseResultMap">
        SELECT
        id,project_id,action_type,source_type,object_version_number,
        linked_id,file_url,file_stream,status,successful_count,failed_count,
        created_by,creation_date,last_update_date
        FROM test_fileload_history
        <where>
            <if test="createdBy != null">
                AND created_by = #{createdBy}
            </if>
                AND action_type = 2 OR action_type = 3
        </where>
        ORDER BY creation_date DESC
    </select>

    <select id="queryLatestHistory" resultMap="BaseResultMap">
        SELECT
        id,project_id,action_type,source_type,object_version_number,
        linked_id,file_url,file_stream,status,successful_count,failed_count,
        created_by,creation_date,last_update_date
        FROM test_fileload_history
        <where>
            creation_date = (
            SELECT
            MAX(creation_date)
            FROM test_fileload_history
            <where>
                created_by = #{createdBy} AND action_type = #{actionType}
            </where>
            ) AND action_type = #{actionType}
            AND project_id = #{projectId}
        </where>
    </select>

    <select id="queryLoadHistoryStatus" resultType="Long">
        SELECT status FROM test_fileload_history WHERE id = #{id}
    </select>

    <update id="cancelFileUpload">
        UPDATE test_fileload_history
        SET status = 4
        <where>
            id = #{id} AND action_type = 1
        </where>
    </update>

    <select id="queryLatestHistoryByOptions" resultType="io.choerodon.test.manager.infra.dto.TestFileLoadHistoryDTO">
        SELECT tfh.id,
               tfh.project_id,
               tfh.action_type,
               tfh.source_type,
               tfh.object_version_number,
               tfh.linked_id,
               tfh.file_url,
               tfh.file_stream,
               tfh.status,
               tfh.successful_count,
               tfh.failed_count,
               tfh.created_by,
               tfh.creation_date,
               tfh.last_update_date,
               tif.name
        FROM test_fileload_history tfh,
             test_issue_folder tif
        WHERE tfh.linked_id = tif.folder_id
        <if test='advancedSearchArgs != null'>
          <if test='advancedSearchArgs.name != null and advancedSearchArgs.name.length > 0'>
              AND
              tif.name LIKE CONCAT(CONCAT('%',#{advancedSearchArgs.name, jdbcType=VARCHAR}),'%')
          </if>
          <if test="advancedSearchArgs.status != null">
              AND
              tfh.status = #{advancedSearchArgs.status}
          </if>
        </if>
        <if test='folderIds != null and folderIds.size > 0'>
            AND
            tfh.linked_id IN
            <foreach collection="folderIds" item="folderId" open="(" separator="," close=")">
                #{folderId}
            </foreach>
        </if>
    </select>
</mapper>