<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.test.manager.infra.mapper.TestCycleCaseDefectRelMapper">

    <resultMap type="io.choerodon.test.manager.infra.dto.TestCycleCaseDefectRelDTO" id="BaseResultMap">
        <id column="id" property="id"/>
        <id column="defect_type" property="defectType"/>
        <id column="defect_link_id" property="defectLinkId"/>
        <id column="issue_id" property="issueId"/>
        <id column="project_id" property="projectId"/>
    </resultMap>

    <select id="queryInIssues" resultMap="BaseResultMap">
        SELECT
        id,defect_type,defect_link_id,issue_id,project_id
        FROM test_cycle_case_defect_rel
        where project_id=#{ projectId} and issue_id in
        <foreach collection="issues" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryAllIssueIds" resultType="java.lang.Long">
        SELECT DISTINCT
        issue_id
        FROM test_cycle_case_defect_rel
    </select>

    <update id="updateProjectIdByIssueId"
            parameterType="io.choerodon.test.manager.infra.dto.TestCycleCaseDefectRelDTO">
        UPDATE
        test_cycle_case_defect_rel
        SET
        project_id = #{projectId}
        WHERE
        issue_id = #{issueId}
    </update>

    <select id="queryIssueIdAndDefectId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT distinct
        issue_id
        FROM
        test_cycle_case_defect_rel
        where
        project_id = #{projectId}
    </select>

    <update id="updateAuditFields">
        update test_cycle_case_defect_rel
        set created_by = #{userId}, creation_date = #{date}, last_updated_by = #{userId}, last_update_date = #{date}
        where id = #{defectId}
    </update>

    <!--<select id="queryByBug" resultType="io.choerodon.test.manager.infra.dto.TestCycleCaseDTO">-->
        <!--select-->
        <!--tcc.*,-->
        <!--ts.status_name as execution_status_name,-->
        <!--ts.status_color-->
        <!--from test_cycle_case tcc, test_status ts-->
        <!--where tcc.execute_id in (-->
            <!--select defect_link_id from test_cycle_case_defect_rel tccdr-->
            <!--where tccdr.project_id = #{projectId}-->
            <!--and tccdr.defect_type = 'CYCLE_CASE'-->
            <!--and tccdr.issue_id = #{bugId}-->
            <!--union all-->
            <!--select tccs.execute_id from test_cycle_case_defect_rel tccdr2, test_cycle_case_step tccs-->
            <!--where tccdr2.project_id = #{projectId}-->
            <!--and tccdr2.defect_type = 'CASE_STEP'-->
            <!--and tccdr2.issue_id = #{bugId}-->
            <!--and tccdr2.defect_link_id = tccs.step_id-->
        <!--)-->
        <!--and tcc.execution_status = ts.status_id-->
    <!--</select>-->

    <delete id="batchDeleteByExecutIds">
        delete from test_cycle_case_defect_rel where
        defect_type = #{type} and
        defect_link_id in
        <foreach collection="list" item="executId" open="(" close=")" separator=",">
            #{executId}
        </foreach>
    </delete>

    <select id="listByExecuteIds" resultType="io.choerodon.test.manager.infra.dto.TestCycleCaseDefectRelDTO">
     select  * from test_cycle_case_defect_rel
      where
        defect_type = #{type}
         and
        defect_link_id in
        <foreach collection="list" item="linkId" open="(" close=")" separator=",">
            #{linkId}
        </foreach>
    </select>
    <select id="selectIssueIdByPlanId" resultType="java.lang.Long">
        select
        distinct t4.issue_id
        from test_cycle t1
        left join test_cycle_case t2 on t1.cycle_id = t2.cycle_id
        left join test_cycle_case_step t3 on t2.execute_id = t3.execute_id
        left join test_cycle_case_defect_rel t4 on t3.execute_step_id = t4.defect_link_id
        where t1.plan_id = #{planId}
        and t4.issue_id is not null
        <if test="query != null">
            <if test="query.caseSummary != null">
                and t2.summary like concat(concat('%', #{query.caseSummary, jdbcType=VARCHAR}),'%')
            </if>
            <if test="query.executionStatus != null">
                and t2.execution_status = #{query.executionStatus}
            </if>
        </if>
    </select>

    <resultMap id="TestPlanReporterIssueVO" type="io.choerodon.test.manager.api.vo.TestPlanReporterIssueVO">
        <id property="issueId" column="issue_id"/>
        <collection property="testFolderCycleCases"  ofType="io.choerodon.test.manager.api.vo.TestFolderCycleCaseVO">
            <id property="executeId" column="execute_id"/>
            <result property="summary" column="case_summary"/>
            <result property="executionStatus" column="execution_status"/>
            <result property="caseId" column="case_id"/>
            <result property="folderId" column="folder_id"/>
        </collection>
    </resultMap>

    <select id="selectWithCaseByIssueIds" resultMap="TestPlanReporterIssueVO">
        select
        t4.issue_id,
        t2.summary as case_summary,
        t2.execute_id,
        t2.execution_status,
        t2.case_id,
        t5.folder_id
        from test_cycle t1
        left join test_cycle_case t2 on t1.cycle_id = t2.cycle_id
        left join test_cycle_case_step t3 on t2.execute_id = t3.execute_id
        left join test_cycle_case_defect_rel t4 on t3.execute_step_id = t4.defect_link_id
        left join test_case t5 on t5.case_id = t2.case_id
        where t1.plan_id = #{planId}
        and t4.issue_id is not null
        <if test="issueIds != null and issueIds.size() > 0">
            and t4.issue_id in
            <foreach collection="issueIds" item="issueId" open="(" separator="," close=")">
                #{issueId}
            </foreach>
        </if>
        <if test="query != null">
            <if test="query.caseSummary != null">
                and t2.summary like concat(concat('%', #{query.caseSummary, jdbcType=VARCHAR}),'%')
            </if>
            <if test="query.executionStatus != null">
                and t2.execution_status = #{query.executionStatus}
            </if>
        </if>
    </select>

    <insert id="batchInsert">
        insert into test_cycle_case_defect_rel(defect_type,defect_link_id,issue_id,project_id,created_by,last_updated_by)
        values
        <foreach collection="list" item="defect" separator=",">
        (#{defect.type},#{defect.defectLinkId},#{defect.issueId},#{defect.projectId},#{defect.createdBy},#{defect.lastUpdatedBy})
        </foreach>
    </insert>

    <delete id="batchDeleteByLinkIdsAndType">
        delete from test_cycle_case_defect_rel where
        defect_type = #{type}
        and
        defect_link_id in
        <foreach collection="list" item="executId" open="(" close=")" separator=",">
            #{executId}
        </foreach>
    </delete>
</mapper>