<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.test.manager.infra.mapper.TestApiCaseMapper">
    <select id="queryByTaskId" resultType="io.choerodon.test.manager.infra.dto.TestApiCaseDTO">
        SELECT tac.* FROM test_api_case tac
        JOIN (
        SELECT case_id FROM test_api_task_case WHERE test_api_task_case.task_id=#{taskId}}
        ) related_ids ON tac.id=related_ids.case_id
    </select>
</mapper>


