<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.test.manager.infra.mapper.TestCycleCaseDefectRelMapper">

    <resultMap type="io.choerodon.test.manager.infra.dataobject.TestCycleCaseDefectRelDO" id="BaseResultMap">
        <id column="id" property="id"/>
        <id column="defect_type" property="defectType"/>
        <id column="defect_link_id" property="defectLinkId"/>
        <id column="issue_id" property="issueId"/>
        <id column="project_id" property="projectId"/>
    </resultMap>

    <resultMap id="issueIdAndDefectIdMap" type="java.util.Map">
        <result column="issue_id" property="key"/>
        <result column="defect_link_id" property="value"/>
    </resultMap>

    <select id="queryInIssues" resultMap="BaseResultMap">
        SELECT
        id,defect_type,defect_link_id,issue_id,project_id
        FROM test_cycle_case_defect_rel
        where issue_id in
        <foreach collection="issues" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryAllIssueIds" resultType="java.lang.Long">
        SELECT DISTINCT
        issue_id
        FROM test_cycle_case_defect_rel
    </select>

    <update id="updateProjectIdByIssueId"
            parameterType="io.choerodon.test.manager.infra.dataobject.TestCycleCaseDefectRelDO">
        UPDATE
        test_cycle_case_defect_rel
        SET
        project_id = #{projectId}
        WHERE
        issue_id = #{issueId}
    </update>

    <select id="queryIssueIdAndDefectId" parameterType="java.lang.Long" resultMap="issueIdAndDefectIdMap">
        SELECT
        issue_id,defect_link_id
        FROM
        test_cycle_case_defect_rel
        GROUP BY
        issue_id,defect_link_id
        HAVING
        project_id = #{projectId}
    </select>
</mapper>