<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.test.manager.infra.mapper.TestCycleCaseStepMapper">

    <resultMap type="io.choerodon.test.manager.infra.dto.TestCycleCaseStepDTO" id="BaseResultMap">
        <id column="execute_step_id" property="executeStepId"/>
        <id column="execute_id" property="executeId"/>
        <id column="step_id" property="stepId"/>
        <id column="description" property="description"/>
        <id column="object_version_number" property="objectVersionNumber"/>
        <id column="parent_step_id" property="parentStepId"/>
        <id column="test_step" property="testStep"/>
        <id column="test_data" property="testData"/>
        <id column="step_status" property="stepStatus"/>
        <id column="cycle_name" property="cycleName"/>
        <id column="cycle_id" property="cycleId"/>
        <id column="case_id" property="caseId"/>
        <id column="expect_result" property="expectedResult"/>
        <id column="status_name" property="statusName"/>
        <id column="status_color" property="statusColor"/>

        <collection property="stepAttachment"
                    ofType="io.choerodon.test.manager.infra.dto.TestCycleCaseAttachmentRelDTO">
            <id column="url" property="url"/>
            <id column="attachment_name" property="attachmentName"/>
            <id column="attachment_type" property="attachmentType"/>
            <id column="id" property="id"/>
        </collection>
        <collection property="defects"
                    ofType="io.choerodon.test.manager.infra.dto.TestCycleCaseDefectRelDTO">
            <id column="defect_issue_id" property="issueId"/>
            <id column="defect_type" property="defectType"/>
            <id column="defect_link_id" property="defectLinkId"/>
            <id column="defece_id" property="id"/>
        </collection>
    </resultMap>

    <select id="queryWithTestCaseStep" resultMap="BaseResultMap">
        SELECT
        test.execute_step_id,
        test.execute_id,
        test.step_id,
        test.description,
        test.step_status,
        test.object_version_number,
        test.test_step,
        test.test_data,
        test.expect_result,
        defect.defect_type,
        defect.id defece_id,
        defect.defect_link_id,
        defect.issue_id defect_issue_id,
        attach.url,
        attach.attachment_name,
        attach.attachment_type,
        attach.id,
        test.rank
        FROM
        (
        SELECT
        cycle.execute_step_id,
        cycle.execute_id,
        cycle.step_id,
        cycle.description,
        cycle.step_status,
        cycle.object_version_number,
        cycle.test_step,
        cycle.test_data,
        cycle.expect_result,
        cycle.rank
        FROM
        ( select * from test_cycle_case_step
        <where>
            <if test="dto!=null and dto.executeStepId != null">
                AND execute_step_id = #{dto.executeStepId}
            </if>
            <if test="dto!=null and dto.executeId != null">
                AND execute_id = #{dto.executeId}
            </if>
        </where>
        ) cycle
        LEFT JOIN test_case_step step ON cycle.step_id = step.step_id
        <if test="pageSize !=0 and pageSize != null and page !=0 and page != null">
            limit #{page} , #{pageSize}
        </if>
        ) test
        LEFT JOIN test_cycle_case_attach_rel attach ON ( test.execute_step_id = attach.attachment_link_id AND attach.attachment_type = 'CYCLE_STEP'  )
        OR ( test.step_id = attach.attachment_link_id AND attach.attachment_type = 'CASE_STEP' )
        LEFT JOIN test_cycle_case_defect_rel defect ON test.execute_step_id = defect.defect_link_id
        AND defect.defect_type = 'CASE_STEP'
        ORDER BY
        test.rank asc
    </select>

    <select id="queryWithTestCaseStep_oracle" resultMap="BaseResultMap">
        SELECT
        test.execute_step_id,
        test.execute_id,
        test.step_id,
        test.description,
        test.step_status,
        test.object_version_number,
        test.test_step,
        test.test_data,
        test.expected_result,
        defect.defect_type,
        defect.id defece_id,
        defect.defect_link_id,
        defect.issue_id defect_issue_id,
        attach.url,
        attach.attachment_name,
        attach.attachment_type,
        attach.id
        FROM
        (
        select * from(
        select tt.*,ROWNUM AS rowno from(
        SELECT
        cycle.execute_step_id,
        cycle.execute_id,
        cycle.step_id,
        cycle.description,
        cycle.step_status,
        cycle.object_version_number,
        step.test_step,
        step.test_data,
        step.expected_result,
        step.rank
        FROM
        ( select * from test_cycle_case_step
        <where>
            <if test="dto!=null and dto.executeStepId != null">
                AND execute_step_id = #{dto.executeStepId}
            </if>
            <if test="dto!=null and dto.executeId != null">
                AND execute_id = #{dto.executeId}
            </if>
        </where>
        ) cycle
        LEFT JOIN test_case_step step ON cycle.step_id = step.step_id
        ORDER BY
        step.rank
        ) tt
        <if test="pageSize !=0">
            WHERE
            <![CDATA[ROWNUM <= #{pageSize}]]>
        </if>
        ) table_alias
        <if test="pageSize !=0">
            WHERE
            <![CDATA[ table_alias.rowno >= #{page}]]>
        </if>
				)	test
        LEFT JOIN test_cycle_case_attach_rel attach ON ( test.execute_step_id = attach.attachment_link_id AND attach.attachment_type = 'CYCLE_STEP'  )
        OR ( test.step_id = attach.attachment_link_id AND attach.attachment_type = 'CASE_STEP' )
        LEFT JOIN test_cycle_case_defect_rel defect ON test.execute_step_id = defect.defect_link_id
        AND defect.defect_type = 'CASE_STEP'
    </select>


    <select id="queryWithTestCaseStep_count" resultType="java.lang.Long">
        SELECT count(1) from test_cycle_case_step where execute_id=#{executeId}
    </select>

    <select id="queryCycleCaseForReporter" resultMap="BaseResultMap">
        select step.step_status,step.execute_id,step.execute_step_id,case1.issue_id,cycle.cycle_name,case_step.test_step,case1.cycle_id
        from test_cycle_case_step step
        left join test_cycle_case case1 on case1.execute_id=step.execute_id
        left join test_cycle cycle on case1.cycle_id=cycle.cycle_id
        left join test_case_step case_step on case_step.step_id = step.step_id
        where step.execute_step_id in
        <foreach item="item" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="batchInsertTestCycleCaseSteps" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="executeStepId">
        INSERT INTO test_cycle_case_step(execute_id, step_id, description, step_status, object_version_number,
        created_by,  last_updated_by, test_step,test_data,expect_result) VALUES
        <foreach collection="list" item="cycleCaseStep" separator=",">
            (#{cycleCaseStep.executeId}, #{cycleCaseStep.stepId}, #{cycleCaseStep.description}, #{cycleCaseStep.stepStatus},
            1, #{cycleCaseStep.createdBy},  #{cycleCaseStep.lastUpdatedBy}
            , #{cycleCaseStep.testStep},#{cycleCaseStep.testData},#{cycleCaseStep.expectedResult})
        </foreach>
    </insert>

    <update id="updateAuditFields">
        update test_cycle_case_step
        set created_by = #{userId}, creation_date = #{date}, last_updated_by = #{userId}, last_update_date = #{date}
        where execute_id IN
        <foreach item="item" index="index" collection="executeIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="querListByexecuteId" resultMap="BaseResultMap">
        SELECT
        tccs.execute_step_id,
        tccs.execute_id,
        tccs.test_step,
        tccs.test_data,
        tccs.expect_result,
        tccs.rank,
        tccs.step_id,
        ts.status_color,
        ts.status_name ,
        tccar.attachment_name,
        tccar.url,
        tccdr.defect_type
        FROM
            `test_cycle_case_step` tccs
        LEFT JOIN test_cycle_case_attach_rel tccar ON tccar.attachment_link_id = tccs.execute_id
        LEFT JOIN test_cycle_case_defect_rel tccdr ON tccdr.defect_link_id = tccs.execute_id
        LEFT JOIN test_status ts ON ts.status_id = tccs.step_status
        WHERE
            tccs.execute_id = #{executeId}  ORDER BY
        tccs.rank asc
    </select>

    <delete id="batchDeleteTestCycleCaseSteps">
        DELETE
        FROM
            test_cycle_case_step
        WHERE
	    execute_step_id IN
	    <foreach collection="executeStepIds" index="index" item="executeStepId"
                 open="(" separator="," close=")">
            #{executeStepId}
        </foreach>
    </delete>

    <select id="getLastedRank" resultType="java.lang.String">
        SELECT
            rank
        FROM
            test_cycle_case_step
        WHERE
            execute_id = #{executeId}
        ORDER BY
            rank DESC
            LIMIT 1
    </select>
    <update id="fixCycleCaseStep">
        UPDATE test_cycle_case_step tccs SET tccs.test_step = (
            SELECT
                tcs.test_step FROM test_case_step tcs WHERE tccs.step_id = tcs.step_id),
         tccs.test_data = (
            SELECT tcs.test_data FROM test_case_step tcs WHERE tccs.step_id = tcs.step_id),
         tccs.expect_result = (
            SELECT tcs.expected_result FROM test_case_step tcs WHERE tccs.step_id = tcs.step_id)
    </update>
    <update id="fixCycleCaseStepRank">
        UPDATE test_cycle_case_step tccs
        SET rank = (
            SELECT
                rank
            FROM
                `test_case_step` tcs
            WHERE
                tccs.step_id = tcs.step_id
        )
    </update>

    <delete id="batchDeleteByExecutIds">
        delete from test_cycle_case_step where
        execute_id in
        <foreach collection="list" item="executId" open="(" close=")" separator=",">
            #{executId}
        </foreach>
    </delete>

    <select id="listByexecuteIds" resultType="io.choerodon.test.manager.infra.dto.TestCycleCaseStepDTO">
        select  * from test_cycle_case_step
        where
        execute_id in
        <foreach collection="ids" item="executId" open="(" close=")" separator=",">
            #{executId}
        </foreach>
    </select>
    <select id="selectByexecuteId" resultType="io.choerodon.test.manager.infra.dto.TestCycleCaseStepDTO">
        SELECT
            tccs.*
        FROM
            test_cycle_case_step tccs
        WHERE
            tccs.execute_id = #{executeId}
        ORDER BY
            rank
    </select>
</mapper>