.c7ntest-PlanTree {
  height: 100%;
  width: 230px;
  /* margin-left: 22px; */
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  // border-left: 1px solid rgba(0, 0, 0, 0.12);

  .c7n-spin-nested-loading,
  .c7n-spin-container {
    height: 100%;
  }

  .c7n-tree-icon__customize {
    i.icon {
      float: left;
      line-height: 22px;
      margin-right: 5px;
    }
  }

  .c7n-tree-title {
    display: inline-block;
    // float: right;
    flex: 1;
  }

  .c7n-tree li .c7n-tree-node-content-wrapper.c7n-tree-node-selected {
    background: rgba(0, 0, 0, 0.04);
  }

  .c7n-tree li .c7n-tree-node-content-wrapper {
    width: calc(100% - 22px);
    display: inline-flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
    padding-left: 0 !important;
  }

  .c7n-tree-switcher {
    margin-top: 3px !important;
  }

  .c7ntest-treeTop {
    padding: 0 10px;
    font-size: 13px;
    height: 44px;
    display: flex;
    align-items: center;

    .c7n-input-wrapper {
      .c7n-input-content {
        margin-bottom: 0;

        .c7n-input-prefix {
          margin-left: 3px;
        }
      }
    }

    .c7n-input-wrapper:before {
      border: none;
    }
  }

  &-tree {
    // height: calc(100% - 44px);
    padding-left: 10px;
    padding-top: 3px;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
