.c7ntest-testPlan-statusCard {
    height: 1.44rem;
    overflow-x: scroll;
    .c7n-card-head {
        border: none;
        .c7n-card-head-title {
            font-size: 0.16rem;
            font-weight: 500;
            padding-top: 0.2rem;
            color: #000000;
        }
    }
    .c7n-card-body {
        padding-top: 0;
        .c7ntest-testPlan-statusCard-content {
            display: flex;
            justify-content: space-between;
            .c7ntest-progress:not(:last-child) {
                margin-right: 0.3rem;
                &-circle {
                    width: 0.4rem;
                    height: 0.4rem;
                }
            }
        }
    }
}