.c7ntest-issue-tree-title {
  display: flex;
  align-items: center;
  min-width: 132px;
  outline: none;

  &:hover {
    .c7ntest-add-folder {
      visibility: visible;
    }
  }

  &-text {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-actionButton {
    height: 28px;
    margin-top: -2px;

    .c7ntest-add-folder {
      transition: none;
      margin-left: 30px;
      padding-right: 3px;
      visibility: hidden;
    }
  }
}
